nav {

	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-family: ;
}

h1 {

	display: flex;
	justify-content: center;
	text-transform: none;
	font-family: ;
}

p {

	display: flex;
	justify-content: center;
	text-transform: none;
	font-family: ;
}


h1 {
	font-family: "Roboto", sans-serif;
}

p {
	  font-family: "Merriweather", serif; 
}

nav {
	font-family: "Kode Mono", sans-serif;
}


img {
	max-width: 300px;
}

}

.lead-image {
	display: flex;
	justify-content: center;

}

.lead-image img {
	margin: 0 auto;
	object-fit: contain;
	max-width: 100%;
}

h1 {
		font-size: 2rem;
		background: midnightblue;
		color: peachpuff;
		text-align: center;
	}

body {
  background-color: floralwhite;
}

p {
  background-color: mistyrose;
}	

ul {
  background-color: Honeydew;
}

ul {
  list-style: none;
} 
}

<!DOCTYPE html>
<html>
<head>
<link rel="third.html" href="third.css">
</head>
<body>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>

</body>
</html>